body {
  background-image: url('../../public/img/Fondo-rojo.svg');
  background-size:cover ;
}
.completada {
  background-color: var(--wine);
  .fecha, .descripcion {
    text-decoration: line-through;
  }
}
.grupo {
  column-gap: 10px;
}
.titulo {
  font-size: 3.5rem;
}

/* CUSTOM CHECKBOX https://www.w3schools.com/howto/howto_css_custom_checkbox.asp */

.check-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.check-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: -5px;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #fffffaff;
  border-radius: 5px;
}
/* Añadir fondo gris con mouse-over */
.check-container:hover input ~ .checkmark {
  background-color: #ccc;
}
/* Cuando el checkbox está checked, agregar fondo rojo-vino */
.check-container input:checked ~ .checkmark {
  background-color: #198754;
}
/* Crear el check/indicador (escondido cuando no está checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
/* Mostrar el checkmark cuando esta checked */
.check-container input:checked ~ .checkmark:after {
  display: block;
}
/* Estilos del check/indicador */
.check-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}